<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSources>
    <add key="nuget-feed" value="nuget-feed" />
    <add key="maui-net7" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/maui-net7-nugets/nuget/v3/index.json" />
    <add key="maui-net8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
  </packageSources>
</configuration>
